@use "../config/variables" as var;

.btn {
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    @include var.shadow-xl;
    cursor: pointer;
    margin-bottom: 0.3rem;
}
.success {
    background-color: var.$success;
}
.error {
    background-color: var.$error;
}
.indigo {
    background-color: #4f46e5;
}
.alert {
    background-color: #f85e26;
}
